@import "less/bootstrap.less";

//glyphicons 
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

//fonts 
@font-face {
  font-family: 'ubuntuRegular';
  src: url('fonts/ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'ubuntuBold';
  src: url('fonts/ubuntu/Ubuntu-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'rockwellRegular';
  src: url('fonts/rockwell/rockwell.ttf') format('truetype');
}


@font-family-sans-serif: 'ubuntuRegular';
@font-family-sans-serif-bold: 'ubuntuBold';
@font-family-serif: 'rockwellRegular';

h1, h2, h3 {
	font-family: @font-family-serif;
	padding: 0;
	margin: 0;
}

//colors
@cc-blue-light: #0071BC;
@cc-blue-dark: #004E70;
@cc-gray-light: #E1E1E1;
@cc-gray-medium: #B7B5B6;
@cc-gray-search: #C8C7C7;
@cc-gray-dark: #5B5A5A;
@cc-gray-map-section: #F0F0F0;
@cc-green: #60AF37;
@cc-red: #AD272D;
@cc-teal: #198E68;

//general styles


ul, li {
	list-style: none;
	text-decoration: none;
}

body, .map-section {
	font-family: @font-family-sans-serif;
	background-color: #d6d6d6;
	background-repeat: no-repeat;
	background-image: -webkit-linear-gradient(#f8f8f8, #d6d6d6);
	background-image: -o-linear-gradient(#f8f8f8, #d6d6d6);
	background-image: linear-gradient(#f8f8f8, #d6d6d6);
}

.btn {
	font-family: 'Montserrat', sans-serif;
}
.page-section {
	padding-bottom: 10%;
}

.landing-section {
	background-color: #e9e8e8;
	padding: 0 30px;
}

.pointer { 
	cursor: pointer;
}

.center {
	text-align: center
}

//navbar
.navbar {
	background-repeat: repeat-y;
	background-position: left;
	background-color: @cc-gray-medium;
	margin-bottom: 0;
	color: @cc-gray-dark;
	font-family: @font-family-sans-serif;
	height: auto;
}

.navbar .brand img {
	@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	 	width: 200px;
	}
	@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	 	width: 350px;
	}
	@media (min-width: @screen-lg-min) {
	 	width: 450px;
	}
}

#navbar-collapse {
	vertical-align: bottom;
	height: 140px;
}

.donate {
	margin-top: 10px;
	@media (min-width: @screen-sm-min) {
	 	margin: 0;
	}
}

.navbar-right {
	padding: 0 15px;
}
.links .navbar-right {
	@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	 	margin-top: 25px;
	}
	@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	 	margin-top: 20px;
	}
	@media (min-width: @screen-lg-min) {
	 	margin-top: 50px;
	}
}

.social .navbar-right {
	@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	 	margin-top: 25px;
	}
	@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	 	margin-top: 25px;
	}
	@media (min-width: @screen-lg-min) {
	 	margin-top: 20px;
	}
}

.navbar-toggle {
	background-color: @cc-gray-light;
	margin-top: 30px;
}

.navbar-toggle .icon-bar {
	background-color:@cc-blue-light;
}

.navbar-nav .dropdown-menu {
	margin-top: 10px
}

.dropdown-menu#dropdown-explore {
	left: -25px;
}

.dropdown-menu#dropdown-search {
	left: -50px;
}

.navbar-nav>li>.dropdown-menu {
	margin-top: 10px;
	background-image:
    linear-gradient(
      #0088BE, #0075B7
    );
}

.navbar-nav>li>.dropdown-menu  {
	padding: 5px;
	width: auto;
	border-radius: 0;
}


.navbar-nav li h4 {
	display: inline;
	margin: 0 5px;
	@media (min-width: @screen-md-min) {	
		margin: 0 10px;
	}
}

.navbar-nav li h4 a {
	color: @cc-gray-dark;
}

.navbar-nav li h4 a:hover {
	text-decoration: none;
	color: #000;
}

.collapse {
	float: right;
}




.social .addthis_32x32_style .at300bs.at15t_pinterest_share {
	width: 41px !important;
	height: 30px !important;
}
.social div#pinterest, .social .addthis_32x32_style .at300bs.at15t_pinterest_share {
	background: url('../images/graphic-share-pinterest.png') !important;
	background-repeat: none;
	width: 41px !important;
	height: 30px !important;
}

.social div#pinterest:hover, .social .addthis_32x32_style .at300bs.at15t_pinterest_share:hover {
	background: url('../images/graphic-share-pinterest_ON.png') !important;
}

.social div#twitter, .social .addthis_32x32_style .at300bs.at15t_twitter {
	background: url('../images/graphic-share-twitter.png') !important;
	background-repeat: none;
	width: 31px !important;
	height: 30px !important;
}

.social div#twitter:hover, .social .addthis_32x32_style .at300bs.at15t_twitter:hover {
	background: url('../images/graphic-share-twitter_ON.png') !important;
}

.social div#facebook, .addthis_32x32_style .at300bs.at15t_facebook{
	background: url('../images/graphic-share-facebook.png') !important;
	background-repeat: none;
	width: 31px !important;
	height: 30px !important;
}

.social div#facebook:hover, .addthis_32x32_style .at300bs.at15t_facebook:hover {
	background: url('../images/graphic-share-facebook_ON.png') !important;
}

.social div#tumblr, .addthis_32x32_style .at300bs.at15t_tumblr {
	background: url('../images/graphic-share-tumblr.png') !important;
	width: 31px !important;
	background-repeat: none;
	height: 30px !important;
}

.social div#tumblr:hover, .addthis_32x32_style .at300bs.at15t_tumblr:hover {
	background: url('../images/graphic-share-tumblr_ON.png') !important;
}

#dropdown-search {
	width: 250px;
	text-align: center;
	padding: 10px;
}

#dropdown-search input {
	margin: 0 auto;
}	

.navbar-nav>li>.dropdown-menu a {
	color: #fff;
}

.navbar-nav>li>.dropdown-menu li:hover {
	background-color: #53A7D0;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	text-decoration: none;
 	background-color: #53A7D0; 
}

#dropdown-search>li:hover {
	background-color: transparent;
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 50%;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
  color: #0088BE;
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 50%;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #0088BE;
  border-left: 6px solid transparent;
  content: '';
}

//landing page

.landing-box h3 {
	text-align: center;
	padding: 20px 0;
	border-bottom: 3px @cc-gray-medium solid;
}

.landing-box p {
	font-size: 16px;
	line-height: 25px;
	padding: 0 15px 30px 15px;
	@media (min-width: @screen-sm-min) {
		padding-bottom: 0;
	}
}

.landing-box h4 {
	margin-top: 40px;
	text-align: center;
}

.landing-box ul {
	padding-left: 0;
}

.landing-box ul li {
	height: 60px;
	padding-bottom: 30px;
}

.landing-box ul li div {
	padding-top: 12px;
	height: auto;
}

.box-text {
	padding-top: 15px;
}

.box-text:last-child {
	padding-bottom: 15px;
}

ul.box-text li div {
	height: 100px;
}

.landing-box-involved .box-text > div p {
	margin-top: 5px;
}

.landing-box-involved img {
	float: left;
	padding: 10px;
	clear: both;
}

.landing-box-involved h3 {
	color: @cc-blue-light;
}

.landing-box-involved a {
	color: #004e70;
}

.landing-box-races h3, .landing-box-races a {
	color: @cc-teal;
}

.landing-box-watch h3, .landing-box-watch a {
	color: @cc-green;
}

.dropdown-menu img {
	width: 28px;
	border-width: 1px;
	border-color: #333;
	border-style: solid;
	margin-right: 5px;
}

///////////


.map-section {
	height: auto;
	padding: 40px 0 20px 0;
}

.map-main {
	margin-top: -15px;
}

.map-sidebar-container {	
	text-align: center;
	height: auto;
	@media (min-width: @screen-xs-max) {
		height: 450px;
		position: relative;
		margin-top: 10px;
	}
	@media (min-width: @screen-sm-min) {
		margin-bottom: 40px
	}
	@media (min-width: @screen-lg-min) {
		margin-bottom: 0;
	}
}

.map-sidebar-container h1 {
	color: @cc-blue-light;
}

.map-sidebar p {
	margin-top: 5px;
}

.map-sidebar-ticker {
	@media (max-width: @screen-lg-min) {
		padding-bottom: 20px;
	}
}

.map-sidebar-ticker h1 {
	letter-spacing: 2px;
	text-align: center;
	color: @cc-gray-dark;
	font-family: 'Rokkitt', serif;
	line-height: 43px;
	height: 43px;
}

.map-sidebar-ticker p {
	text-align: center;
}

.map-sidebar-ticker h1 span.odometer span {
	color: @cc-blue-light;
	height: 43px;
}

.map-sidebar-ticker h1 span.odometer span {
	text-align: center;
	background: url('../images/graphic-bg-ticker.png') repeat center;
	padding: 0 2px;
	@media (min-width: @screen-md-min) {
		padding: 0 6px;
		border: 1px @cc-gray-dark solid;
		border-right: none;
		width: 30px;
		display: inline-block;
	}
}

.map-sidebar-ticker h1 span.odometer span.comma {
	width: 20px;
}

.map-sidebar-ticker h1 span.odometer span:last-child {
	@media (min-width: @screen-md-min) {
		border-right: 1px @cc-gray-dark solid;
	}
}

.map-sidebar-calendar {
	background-image: url('../images/calendar-bg.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 68px;
	width: 105px;
	margin: 0 auto 50px auto;
	padding-top: 20px;
}

.map-sidebar-calendar h1, .election-countdown-tag h1 {
	display: inline;
	vertical-align: middle;
	font-family: 'Rokkitt', serif;
	font-size: 40px;
}

.map-sidebar-calendar h1 span {
	margin-top: 20px;
}

.map-sidebar-calendar h1 span:first-child {
	padding-right: 6px;
}

.map-sidebar-calendar h1 span:last-child {
	padding-left: 5px;
}

.map-sidebar-search {
	margin-top: 30px;
	@media (min-width: @screen-sm-min) {
		margin-top: 0;
	}
}
.map-sidebar-search .input-group {
	background-color: @cc-gray-search;
	padding: 30px;
	margin: 0 auto;
}


.map-sidebar-search .form-control, .map-sidebar-search .btn, .map-sidebar-search input {
	border-radius: 0;
}

.map-sidebar-search .input-group label h2 {
	text-align: left;
	color: #000;
	font-family: @font-family-serif;
}

.map-sidebar-search label {
	padding-bottom: 20px;

}

.map-sidebar-search input {
	border: 3px #000 solid;
}

.map-sidebar-search .btn {
	background-color: #000;
	color: #fff;
	padding: 4px;
}

.legend {
	height: 35px;
	margin-top: 15px;
}
.legend p {
	float: left;
	margin-top: 0 !important;
}

.legend>img {
	float: left;
	border: 2px solid #000;
	margin-right: 10px;
}

.legend>span {
	float: left;
}

//candidate sidebar 

.sidebar {
	padding: 30px 0;
	text-align: center;
	@media (min-width: @screen-md-min) {
		padding: 0 30px 30px 0;
	}
}

.sidebar h3 {
	color: #000;
	padding: 0 0 10px 0;
}

.sidebar p {
	text-align: left;
}
.sidebar-tile>div {
	background-color: @cc-gray-search;
	padding: 20px;
	margin: 20px 0;
}

.sidebar #explore-map button {
	width: 100%;
	height: 70px;
	background-color: @cc-blue-light;
	color: #fff;
	border: none;
}

.sidebar #explore-map button.active {
	background-color: @cc-red;

}

.sidebar .victims-voice .share-story-button {
	margin-top: 15px;
}

.sidebar .worst-offender h4 a {
	color: #000;
}

.sidebar .sidebar-white,.sidebar .sidebar-white a,.sidebar .sidebar-white a:hover {
	color: #fff;
}

////candidate page

.candidate-main {
	padding: 0;
	margin-top: 15px;
}

.tab-pane h1, .tab-pane h2, .tab-pane h3 {
	color: @cc-blue-light;
}

.tab-pane h3.bad { 
	color: @cc-red;
}

ul.nav-tabs {
	border-bottom: 2px solid @cc-blue-light;
	background: transparent !important;
}

ul.nav-tabs li {
	margin-right: 5px;
	border: 0;
	cursor: pointer;
	@media (max-width: @screen-xs-max) {
		margin-right: 0;
		float: none;
		border-bottom: 1px solid #fff;
	}
}

ul.nav-tabs li > a {
	background-color: @cc-gray-dark;
	font-family: @font-family-serif;
	color: #fff;
	font-size: 16px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 0;
	cursor: pointer;
	@media (max-width: @screen-xs-max) {
		margin-right: 0;
		border-bottom: 0;
	}
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus, 
.nav-tabs > li > a:hover {
	background-color: @cc-blue-light;
	color: #fff;
	border: 0;
}

.show-all {
	border-bottom: 1px solid @cc-blue-light;
	padding: 15px;
}


.tab-content {
	background-color: #fff;
}


///////

#candidates.tab-pane .row {
	margin: 0;
	padding-top: 15px;
}

ul.candidate-list {
	display: block;
	padding-left: 0;
	background-color: #fff;
}

ul.candidate-list li {
	position: relative;
	border-bottom: 2px solid @cc-blue-light;
	border-top: 3px solid #fff;
	border-right: 3px solid #fff;
	border-left: 3px solid #fff;
	height: auto;
	padding: 30px;
	background-color: #fff;
	padding-bottom: 31px;
}

ul.candidate-list li:hover {
	border: 3px solid @cc-green;
	cursor: pointer;
	padding-bottom: 30px;
}

#campuses ul.candidate-list li:hover, #assets ul.candidate-list li:hover, #take-action ul.candidate-list li:hover {
	cursor: default;
	border-bottom: 2px solid @cc-blue-light;
	border-top: 3px solid #fff;
	border-right: 3px solid #fff;
	border-left: 3px solid #fff;
}

ul.candidate-list li img {
	padding: 0 10px 0 0;
	height: 100px;
	width: auto;
	float: left;
	@media (max-width: @screen-xs-max) {
		padding-bottom: 0 0 10px 0;
	}
}

ul.candidate-list li h4 {
	color: @cc-blue-light;
	font-family: @font-family-serif;
	margin-top: 2px;
}

ul.candidate-list > #candidates li p {
	position: absolute;
	bottom: 20px;
	left: 121px;
}

.worst-list h4 {
	color: @cc-red !important;
}

span.bold {
	font-family: ubuntuBold;
}

.election-countdown-tag {
	padding-top: 20px;
	text-align: center;
}

.election-countdown-tag  {
	background-image: url('../images/calendar-bg-grey.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 73px;
}

.election-countdown-tag h1 {
	padding-top: 20px;
}

.election-countdown-tag h1 span:first-child {
	padding-right: 6px;
}

.election-countdown-tag h1 span:last-child {
	padding-left: 5px;
}

.get-involved {
	background-color: #fff;
	padding: 30px;
	margin-top: -15px;
}
.get-involved h3 {
	padding: 30px 0;
}

.get-involved p a {
	color: @cc-red;
}

.get-involved > div {
	text-align: center;
}

.get-involved > div > img {
	padding-bottom: 15px;
}


////pages

.page {
	background-color: #fff;
	padding: 30px;
}

.page h1 {
	border-bottom: 2px solid @cc-blue-light;
	margin-bottom: 30px;
}

.page h1, .page h2 {
	color: @cc-blue-light;
}

.page-section h3 {
	padding-bottom: 15px;
}

////charts

g.tick line {
  stroke: #999;
  stroke-width: 1px;
}

g.tick text, g.amounts text, g.labels text {
  font-family: ubuntuRegular;
  font-weight: bold;
  font-size: 16px;
}

g.amounts text.amount-shadow { 
  fill: #333;
}

g.amounts text.amount { 
  fill: #fff;
}

g.tick text {
  fill: #666;
}

g .domain { display: none;}

.bubble {
  stroke: white;
  stroke-width: 2px;
}

.bubble-0 { fill: #69AC2A;}
.bubble-1 { fill: #2E8C64;}
.bubble-2 { fill: #007389;}
.bubble-3 { fill: #00516E;}

.bubble-label { 
  font-family: ubuntuRegular;
  font-size: 16px;
  padding: 0 5%;
  color: #666;
}
.bubble-label > span {
  border-bottom: 1px solid #999;
  display: block;
}

.bar-chart-control label {
	padding: 0px 10px 15px 10px;
}

.bar { 
	fill: #000;
}
.label0, .bar-0, .key-0 { 
	fill: #630a15;
}
.label1, .bar-1, .key-1 { 
	fill: #75151e;
}
.label2, .bar-2, .key-2 { 
	fill: #89272d;
}
.label3, .bar-3, .key-3 { 
	fill: #973a2c;
}
.label4, .bar-4, .key-4 { 
	fill: #a6502b;
}
.label5, .bar-5, .key-5 { 
	fill: #b5652a;
}
.label6, .bar-6, .key-6 { 
	fill: #c37a29;
}
.label7, .bar-7, .key-7 { 
	fill: #d18f29;
}
.label8, .bar-8, .key-8 { 
	fill: #e0a327;
}
.label9, .bar-9, .key-9 { 
	fill: #efb827;
}
.label10, .bar-10, .key-10 { 
	fill: #fdcc26;
}
.label11, .bar-11, .key-11 { 
	fill: #000;
}



.state-boundaries { 
  cursor: pointer;
  fill: #fff;
  fill-opacity:.4;
  stroke: #333;
  stroke-width:1;
  stroke-linejoin: bevel;
}

.state-boundaries.selected {
  transition: stroke-width .2s ease;
  stroke: @cc-red;
  stroke-width:3;
}

.static-map .marker {
	cursor: pointer;
}

.inset-map {
	padding:20px 0px;
	margin: 0 auto;
}

.inset-map .state-boundaries {
	stroke: #333;
	stroke-opacity: .4;
	fill-opacity: 0;
}

.inset-map .state-boundaries.selected {
	stroke: @cc-blue-light;
	stroke-opacity: 1; 
	fill-opacity: 1; 
	fill: #fff;
}

.inset-map .state-boundaries.selected.active {
	stroke:@cc-red;
}

///////////explore
.tentacle-title {
	height: 120px;
}

.tentacle-title h2 {
	background-image: url('../images/tentacle.png');
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	height: 85px;
	padding-top: 20px;
	text-shadow: 0 1px 0 #fff;
	margin-bottom: 20px;
}

.explore .row {
	@media (min-width: @screen-sm-min) {
		margin: 0;
	}
}

.explore h1 {
	color: @cc-blue-light;
	text-shadow: 0 1px 0 #fff;
	font-family: @font-family-sans-serif;
}

#join-convo, #map-layers {
	background-color: #D5D5D5;
	padding: 20px;
}

ul#map-layers {
	text-align: center;
}

ul#map-layers h4 {
	@media (min-width: @screen-sm-min) {
		display: inline;
	}
}
ul#map-layers label {
	font-weight: normal;
	margin-right: 5px;
	cursor: pointer;
}
ul#map-layers li {
	display: inline;
	margin: 15px;
	width: auto;
	padding: 7px;
	background-color: #fff;
}

ul#map-layers li p {
	display: inline;
	margin-left: -8px;
	padding: 0 5px
}

ul#map-layers li span {
	padding: 7px;
	margin-right: -20px;
}

ul#map-layers li.candidate span {
	background-color: #89272d;
}

ul#map-layers li.assets span {
	background-color: #004e70;
}

ul#map-layers li.campus span {
	background-color: #f17522;
}

ul#map-layers li.action span {
	background-color: #6baf00;
}

ul#map-layers li.interest span {
	background-color: #000;
}

ul#map-layers li input {
	margin: 3px;
}

#marker-tooltip {
	display: none;
	position:absolute;
	background-color: #000;
	color: #fff;
	margin: 8px;
	margin-top: -28px;
	padding: 10px;
	z-index: 1000;
	opacity: .9;
}

#map > div > div > div:nth-child(1) > div:nth-child(3) > div:nth-child(4) > div > div:nth-child(1) > div:nth-child(4) {
	border: 3px solid green;
}

.info-window {
	min-width: 300px;
	max-width: 420px;
}

.info-window-description {
	max-height: 200px;
	overflow-x: auto;
}

.info-window-candidate {
	min-height: 100px;
}

.info-window-link {
	margin-top: 8px;
	margin-left: 92px;
	font-size: 18px;
	font-weight: bold;	
}

.map-layers > div {
	display: inline
}


//victim's voices page

#join-convo {
	text-align: center;
}
#join-convo h1 {
	background-color: #D5D5D5;
	margin-top: 10px;
}

#join-convo h3 {
	font-family: @font-family-sans-serif
}

.join-convo-form button, .share-story-button {
	background-image: -webkit-linear-gradient(#A8272D, #8A272D);
	background-image: -o-linear-gradient(#A8272D, #8A272D);
	background-image: linear-gradient(#A8272D, #8A272D);
	width: 100%;
	border: 2px @cc-red solid;
}

.join-convo-form button, .share-story-button, .modal-body button {
	border-radius: 0;
}

.join-convo-form button:hover, .join-convo-form button:focus, .share-story-button:hover,  .share-story-button:focus,{
	border: 2px @cc-red solid;
	background-color: #fff;
	background-image: none;
	color: @cc-red;
}

.join-convo-form button, .share-story-button, .modal-body button {
	height: 70px;
	background-color: #000;
	color: #fff;
	border-radius: 0;
} 

.share-story-button {
	width: auto;
	padding: 10px 20px;
}

.victim-author {
	text-align: right;
	padding-top: 20px;
}

img.quote-left {
	padding: 5px;
	margin-top: -30px;
	margin-left: -30px;
}

img.quote-right {
	padding: 5px;
	margin-bottom: -30px;
	margin-right: -30px;
}

.tile {
	background-color: #D5D5D5;
	height: auto;
	margin: 20px 0;
}

.tile-text {
	padding: 40px;
}

.tile img.author {
	width: 100%;
	height: auto;
	padding-bottom: 20px;
}

.tile-column:first-child {
	@media (min-width: @screen-sm-min) {
		padding-left: 0;
	}	
}

.tile-column:last-child {
	@media (min-width: @screen-sm-min) {
		padding-right: 0;
	}
}

#races-tiles h3 {
	color: @cc-teal;
	padding-bottom: 15px;
}

#races-tiles a {
	color: @cc-green;
}

#orgs {
	background-color: #e9e8e8;
	padding: 75px;
}

#orgs ul {
	padding-left: 0;
}

ul.bulleted, ul.bulleted li, li.bulleted, {
	list-style: initial;
	text-decoration: initial;
}

///modal styles
.modal-header {
	background-color: #D5d5d5
}

h4.modal-title {
	color: @cc-blue-light;
	text-shadow: 0 1px 0 #fff;
	font-family: @font-family-sans-serif;
}

//error messages
.alert-danger {
	text-align: center;
	padding: 50px;
	font-size: 30px;
}

.alert-danger button.close {
	color: #000;
}

.loading-image {
	font-size: 60px;
	color: @cc-blue-dark;
	padding: 20px;
}

.small .loading-image, .small-button .loading-image {
	font-size: 18px;
	padding: 0px;
	text-align: right;
	margin-top: -25px;
	margin-right: 18px;
}

.small-button .loading-image {
	margin-right: 56px;
}

.spin{
	-webkit-transform-origin: 50% 50%;
	transform-origin:50% 50%;
	-ms-transform-origin:50% 50%; /* IE 9 */
	-webkit-animation: spin 1.5s infinite linear;
	-moz-animation: spin 1.5s infinite linear;
	-o-animation: spin 1.5s infinite linear;
	animation: spin 1.5s infinite linear;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.state-name {
	padding-top: 8px;
}

///google maps
  .map>div {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
  }
  .map>div iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  .google-maps {
    margin-bottom: 100px;
    border: 2px #D5D5D5 solid;
  }


.landing-box-involved p {
	padding-left: 62px;
}


.get-involved img {
	height: 62px;
	margin-bottom: 10px;
}

li.donate { 
	margin-right: 15px;
}

.donate-button {
	background-color: @cc-gray-light;
	color: 000;
	border: none;
	border-radius: 0px;
	padding: 6px 12px !important;
	margin-top: -6px;
	font-weight: bold;
	font-size: 18px;
	display: inline-block;
}

.donate-button:hover {
	background: @cc-blue-light !important;
	color: #fff;
}
#koch-graph { 
	padding: 10px;
	margin: 0 0 10px 10px;
	text-align: center;
	background: #fff;
	width: 400px;
}

.koch-tag {
	color: @cc-red;
	font-weight: normal;
	text-align: center;
}

footer {
	background-color: #000;
	color: #808080;
	padding: 15px;
	text-align: center;
}

footer ul {
	padding-left: 0;
	margin-bottom: 0;
}
footer ul:last-child {
	margin-top: 6px;	
}

footer li {
	display: inline;
	padding: 10px 10px 0 10px;
}

footer a {
	color: #b2b2b2;
}

footer li a:hover {
	color: #b2b2b2;
}

footer li:first-child {
	padding-left: 0;
}