<style>
  .map>div {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
  }
  .map>div iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
</style>

<div class="row tentacle-title">
  <h2 >National Map</h2>
</div>
<div class="row" >
  <ul id="map-layers">
    <h4>Display Options:</h4>
    <li ng-repeat='(type, layer) in layers' class="map-layer-option">
      <p><input ng-change='toggleLayer(type)' ng-model='layer.visible' type='checkbox'>{{layer.label}}</p><span></span>
    </li>
  </ul>
</div>
<div class='google-maps' style='display:block; height: 500px;'>
  <map id='map' center="[39.50, -98.35]" zoom="3" styles="{{mapStyle}}" map-type-control='false' street-view-control='false'> 
  </map>
</div>
