<div class="row tentacle-title">
    <h2>Victim's Voices</h2>
</div>
<div class="row" id="join-convo">
  <h1>Join the Conversation </h1>
      <span class="join-convo-form input-group-btn">
         <span share-story-button/>
      </span>
  <div share-story-form/>
</div> <!-- /#join-convo -->

<div class="row" id="victim-tiles" >
  <div class="col-sm-4 tile-column">
    
  <!-- example tile with image -->
    <div class="tile">
    <img class="author" src="/images/images-voices-danielle.jpg">
    <img class="quote-left" src="/images/graphic-quote-left.png"><span ng-bind-html='voice.description | safehtml'></span><img class="quote-right" src="/images/graphic-quote-right.png">
      <div class="victim-author"><h3 ng-bind-html='"--" + voice.title | safehtml'></h3><h4 ng-bind-html='voice.detail | safehtml'></h4></div>
    </div>
  <!-- end example -->


    <div class="tile"  ng-repeat ='voice in voices' ng-if="$index % 3 == 0"><img class="quote-left" src="/images/graphic-quote-left.png"><span ng-bind-html='voice.description | safehtml'></span><img class="quote-right" src="/images/graphic-quote-right.png">
      <div class="victim-author"><h3 ng-bind-html='"--" + voice.title | safehtml'></h3><h4 ng-bind-html='voice.detail | safehtml'></h4></div>
    </div>
  </div>
  <div class="col-sm-4 tile-column" >
    <div class="tile" ng-repeat ='voice in voices' ng-if="($index+1) % 3 == 0"><img class="quote-left" src="/images/graphic-quote-left.png"><span ng-bind-html='voice.description | safehtml'></span><img class="quote-right" src="/images/graphic-quote-right.png">
    <div class="victim-author"><h3 ng-bind-html='"--" + voice.title | safehtml'></h3><h4 ng-bind-html='voice.detail | safehtml'></h4></div>
    </div>
  </div>
  <div class="col-sm-4 tile-column" >
    <div class="tile" ng-repeat ='voice in voices' ng-if="($index+2) % 3 == 0"><img class="quote-left" src="/images/graphic-quote-left.png"><span ng-bind-html='voice.description | safehtml'></span><img class="quote-right" src="/images/graphic-quote-right.png">
    <div class="victim-author"><h3 ng-bind-html='"--" + voice.title | safehtml'></h3><h4 ng-bind-html='voice.detail | safehtml'></h4></div>
    </div>
  </div>
</div>
