<div ng-controller="SearchController" class="searchPage search">  
  <section class="map-section">
     <div class="container">
       <div class="row">
        <div class="col-sm-8 col-xs-12 map-main">
          <map center="[39.50, -98.35]" zoom="3" style="display:block; height:450px">
          </map>
          <div class="legend">
            <img src="images/map-legend-lg.png">
            <p>Breadth of Koch Influence</p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 map-sidebar-container">
          <div class="map-sidebar map-sidebar-ticker hidden-xs">
            <h1>$<span>023,233,324</span></h1>
            <p>Koch Spending Thus Far in 2014 Elections</p>
          </div>
          

          <div class="map-sidebar map-sidebar-calendar hidden-xs">
            <div class="calendar-page">
              <img src="images/icon-pin.png">
              <h1><span>7</span></h1>
            </div>
            <div class="calendar-page">
              <img src="images/icon-pin.png">
              <h1><span>1</span></h1>
            </div>
          </div>
          <p class="hidden-xs">Days Til Election</p>

          


          <div class="map-sidebar map-sidebar-search">
            <form class="form-inline" role="form" ng-submit="search()">
              <div class="form-group">
                <label><h1>Find Koch Cash in Your Area</h1></label>
                <!-- <input text-angular ng-model="searchInput" type="text" class="input-group col-xs-12"  placeholder={{message}}> -->
                 
                 <!-- <autocomplete class="input-group col-xs-12" ng-model="result" attr-placeholder={{message}} click-activation="true" data="people" on-type="doSomething" on-select="doSomethingElse"></autocomplete> -->
                 
                 <!-- <angucomplete id="ex1"
                  placeholder={{message}}
                  pause="100"
                  selectedobject="selectedCountry"
                  localdata="countries"
                  searchfields="name"
                  titlefield="FirstName,LastName"
                  minlength="1"
                  inputclass="form-control form-control-small"/> -->
                  <angucomplete id="ex2" placeholder={{message}} pause="400" selectedobject="result" localdata="candidates" searchfields="firstName,lastName" titlefield="firstName,lastName" descriptionfield="info" minlength="3" inputclass="input-group col-xs-12"/>
                   <button class=" btn btn-md btn-detault searchButton" type="submit" ng-click="search()">GO</button>
              </div>
            </form>
          </div>
        </div>
       </div>
     </div>
  </section>
  <section>
     <div class="container">
       <div class="row">
<!--         <div class="col-sm-4 col-xs-12 landing-box landing-box-involved">
          <h3>GET INVOLVED</h3>
          <ul class="box-text">
            <li>
              <img class="col-xs-2 col-sm-4 col-md-3" src="images/icon-camera.svg">
              <div>
                <p class="col-xs-10 col-sm-8">Watch <a href="#">Koch Brothers</a> Exposed online. Watch <a href="#">Citizen Koch</a> at a local screening</p>
              </div>
            </li>
            <li>
              <img class="col-xs-2 col-sm-4 col-md-3" src="images/icon-clipboard.svg">
              <div>
                <p class="col-xs-10 col-sm-8">Start an <a href="#">anti-Koch campaign</a> or petition</p>
              </div>
            </li>
            <li>
              <img class="col-xs-2 col-sm-4 col-md-3" src="images/icon-people.svg">
              <div>
                <p class="col-xs-10 col-sm-8">Join a local <a href="#">MoveOn Council</a></p>
              </div>
            </li>
            <li>
              <img class="col-xs-2 col-sm-4 col-md-3" src="images/icon-megaphone.svg">
              <div>
                <p class="col-xs-10 col-sm-8">Report a <a href="#">Koch Problem</a> in your area</p>
              </div>
            </li>
          </ul>
        </div> -->
          <div class="col-xs-12 col-sm-4 landing-box landing-box-involved">
            <!-- <div class="col-xs-12"> -->
              <h3>GET INVOLVED</h3>
            <!-- </div> -->
            <div class="box-text">
            <div class="col-xs-12">
              <img src="images/icon-camera.svg">
              <p>Watch <a href="#">Koch Brothers Exposed</a> online or <a href="#">Citizen Koch</a> at a local screening</p>
            </div>
            <div class="col-xs-12">
              <img src="images/icon-clipboard.svg">
              <p>Start an <a href="#">anti-Koch campaign</a> or petition</p>
            </div>
            <div class="col-xs-12">
              <img src="images/icon-people.svg">
              <p>Join a local <a href="#">MoveOn Council</a></p>
            </div>
            <div class="col-xs-12">
              <img src="images/icon-megaphone.svg">
              <p>Report a <a href="#">Koch Problem</a> in your area</p>
            </div>
            </div>
           </div>
        <div class="col-sm-4 col-xs-12 landing-box landing-box-races">
          <h3>KEY RACES</h3>
          <div class="box-text">
          <p>
          quis nostrud exercitation <a href="#">ullamco laboris</a> nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 landing-box landing-box-watch">
          <h3>ORGs TO WATCH</h3>
          <div class="box-text">
          <p>nostrud <a href="#">exercitation ullamco</a> laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in <a href="#">culpa qui</a> officia deserunt mollit anim id est laborum.
          </p>
          </div>
        </div>
       </div>
     </div>
  </section>
</div> <!-- /.page -->
