#messages {
  color: #d3d3d3;
}

.search-box {
	position: fixed;
	left: 200px;
	top: 200px;
	width: 480px;
}

.navbarPositioning {
	position: static;
}

.body{
	background-color: #F0FFF0;
}

.searchButton {
	position: relative;
	top: 5px;
}