.search {
  width: 40%;
  margin: auto;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*.org-panel {
>>>>>>> Styled with bootstrap theme.
  padding: 1%;
}

#dropdown{
  margin-left:10%;
}

.org-panel-left {
  margin-left: 15%;
  margin-right: 5%;
}
.org-panel-right {
  margin-left: 5%;
  margin-right: 15%;
}

.row-top {
  margin-top: 5%;
}
.top {
  margin-top:2%;
}

.headline{
  margin-bottom: 2%;

}
.panel-middle{
  margin-left: 10%;
  margin-right: 10%;
  padding: 11px;

}

.rounded-corners{
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
}

.panel-heading{

}

.donor-row{

}
.take-action{
  margin-left: 75%;
  padding: 1%;
  font-weight: bold;
}
#messages {
  color: #d3d3d3;
}

.search-box {
  position: fixed;
  left: 200px;
  top: 200px;
  width: 480px;
}

.navbarPositioning {
  position: static;
}

.body{
  background-color: #F0FFF0;
}

.searchButton {
  position: relative;
  top: 5px;
}*/
