.org-panel {
  padding: 1%;
}

#dropdown{
  margin-left:10%;
}

.not-overlapped{
  margin-left: 5%;
}

.org-panel-left {
  margin-left: 15%;
  margin-right: 5%;
}
.org-panel-right {
  margin-left: 5%;
  margin-right: 15%;
}

.row-top {
  margin-top: 5%;
}
.top {
  margin-top:2%;
}

.headline{
  margin-bottom: 2%;

}
.panel-middle{
  margin-left: 10%;
  margin-right: 10%;
  padding: 11px;

}

.rounded-corners{
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

.panel-heading{

}

.donor-row{

}
.take-action{
  margin-left: 75%;
  padding: 1%;
  font-weight: bold;
}
#messages {
  color: #d3d3d3;
}

.search-box {
	position: fixed;
	left: 200px;
	top: 200px;
	width: 480px;
}

.navbarPositioning {
	position: static;
}

.body{
	background-color: #F0FFF0;
}

.searchButton {
	position: relative;
	top: 5px;
}