<loading loading="profileLoading"/>

<div ng-hide='profileLoading' class='candidate-profile'>
  <div ng-if='viewparams.zip' class="row show-all">
    <div class="col-xs-12">
      <h3 ui-sref='kochTracker.candidatesView.candidateList({input:viewparams.zip})'><span class="glyphicon glyphicon-chevron-left"></span> Show All Candidates</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">  
      <img class="col-sm-3 col-xs-12 img-responsive not-overlapped" ng-src="{{candidateProfile.photoURL}}" err-src="/images/profile-blank.jpg">
      <h2>{{candidateProfile.nameFirstLast}}</h2>
      <h3>{{candidateProfile.party}} Party, {{candidateProfile.electionStatus}}</h3>
      <h4>{{candidate.electionstatus}}</h4>
      <!-- need to pull variable for which state -->
      <h4>{{candidateProfile.office}} <span class='candidate-state'>( {{candidateProfile.state}}<span class='candidate-district' ng-if="candidateProfile.district != ''">-{{candidateProfile.district}}</span> )</span></h4>
      <h4 ng-if='! bioLoading && candidateBio.office[0].firstElect[0]'>First Elected: {{candidateBio.office[0].firstElect[0]}}</h4>
      <h4 ng-if='! bioLoading && candidateBio.office[0].nextElect[0]'>Next Election: {{candidateBio.office[0].nextElect[0]}}</h4>
    </div>
  </div>
  <div class="row">
  <div ng-if='!profileLoading' class="col-xs-12">
    <h4 class="center">Total Funding From Funder Organizations</h4>
      <div bubble-chart data='totals'/>
  </div>
  </div> 
  <div ng-if='!profileLoading && candidateProfile.since2000contrib' class="row">
    <div class="col-xs-12">
      <h4 class="center">Top Donors by Organization</h4>
        <div bar-chart data='donors'/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 candidate-about" ng-if='bioLoading'>
      <loading loading='bioLoading'/>
    </div>
    <div class="col-xs-12 candidate-about" ng-if='!bioLoading'>
      <h4 class="center">About Candidate</h4>
      <p ng-if='candidateBio.candidate[0].birthDate[0]'><span class="bold">Birthdate:</span> {{candidateBio.candidate[0].birthDate[0]}}</p>
      <p ng-if='candidateBio.candidate[0].birthPlace[0]'><span class="bold">Birthplace:</span> {{candidateBio.candidate[0].birthPlace[0]}}</p>
      <p ng-if='candidateBio.candidate[0].homeCity[0]'><span class="bold">Home city:</span> {{candidateBio.candidate[0].homeCity[0]}} {{candidateBio.candidate[0].homeState[0]}} </p>
      <p ng-if='candidateBio.candidate[0].education[0]'><span class="bold">Education:</span> {{candidateBio.candidate[0].education[0]}}</p>
      <p ng-if='candidateBio.candidate[0].profession[0]'><span class="bold">Profession:</span> {{candidateBio.candidate[0].profession[0]}}</p>
      <!-- <p>{{politician.bio}}</p> -->
    </div>
  </div>
</div>
