            <loading loading="loading"/>
            <ul class="candidate-list candidate-list-senate">
              <li ui-sref='myApp.main.candidatesView.candidateProfile({input:candidate.voteSmartId})' class="col-xs-12" ng-repeat="candidate in candidates">
               <img class="col-sm-3 col-xs-12 img-responsive not-overlapped" ng-src="http://votesmart.org/canphoto/{{candidate.voteSmartId}}.jpg" err-src="../images/profile-blank.jpg">  
                <h2>{{candidate.nameFirstLast}}</h2>
                <h3>{{candidate.party}} Party</h3>
                <!-- need to add incumbent/not here -->
                <h4 class="chamber">{{candidate.office}}, {{candidate.state}}<span ng-if="candidate.district != ''">-{{candidate.district}}</span> - <span class='incumbent'>{{candidate.electionStatus}}</span></h4>
                <h4>${{candidate.2014contrib | number}} this cycle</h4>
                <h4>${{candidate.since2000contrib | number}} since 2000</h4>
              </li>
            </ul>
