            <loading loading="loading"/>

            <div class="row">
            <ul class="candidate-list candidate-list-senate">
              <li ui-sref='kochTracker.candidatesView.candidateProfile({input:candidate.voteSmartId})' class="col-xs-12" ng-repeat="candidate in candidates">
               <img class="candidate-photo" ng-src="http://votesmart.org/canphoto/{{candidate.voteSmartId}}.jpg" err-src="../images/profile-blank.jpg">  
                <h3>{{candidate.nameFirstLast}}</h3>
                <h4 class="chamber">{{candidate.office}}, {{candidate.state}}<span ng-if="candidate.district != ''">-{{candidate.district}}</span></h4>
                <p>{{candidate.party}} Party - {{candidate.electionStatus}}</p>
              </li>
            </ul>
        </div>